header {
    text-align: center;
    background-color: #242424;
    color: whitesmoke;
    padding: 10px;
    font-size: larger;
}

main {
    background-color: #aa6c52;
    margin: 0px;
}

.intro-row {
    display: flex;
    align-items: stretch;
}

.intro-row > [class*='col-'] {
    display: flex;
}

.intro-row .card {
    width: 100%;
}

@font-face {
    font-family: PK_Uttaradit;
    src: url(../media/font/PK\ Uttaradit-Medium.otf);
    src: url(../media/font/PK\ Uttaradit-Medium.ttf);
}

* {
    font-family: PK_Uttaradit;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #242424;
    color: whitesmoke;
    padding: 10px;
    font-size: larger;
}

.a-hide {
    color: rgb(0, 100, 200);
}

@media (min-width: 600px) {
    .MaxW {
        max-width: 600px;
    }
}